<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="RePlay_Activity_FruitArchery.RePlay_Activity_FruitArchery" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:targetSdkVersion="29" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="RePlay_Activity_FruitArchery"></application>
</manifest>